export(chi.square)
export(correlation.test)
export(dataset.convert)
export(dataset.info)
export(levene.test)
export(linear.regression)
export(multi.cor)
export(oneway.anova)
export(paired.t.test)
export(read.csv.new)
export(read.spss.new)
export(read.table.new)
export(student.test)
export(mediation)
export(moderation)
export(logistic.regression)
export(wilcox.signed.rank)
export(mann.whitney)
export(moderation.ancova1)
export(moderation.ancova2)
export(moderation.anova)
export(make.rm)
export(reliability)
export(repeated.measures)
export(ancova)
export(kruskal.wallis)
export(friedman)
export(one.sample.t)
export(mcnemar)
export(onewithin.onebetween)
export(twobetween.anova)
export(reverse.code)
export(compute.composite.sum)
export(compute.composite.mean)
export(remove.outliers)
export(count.outliers)
export(cronbach.alpha)
export(nominal.to.scale)
export(scale.to.nominal)
export(ssp.levels)
export(change.to.numeric)
export(manova.ssp)
export(ordinal.reg)
export(ordinal.to.nominal)
export(ordinal.to.scale)
export(nominal.to.ordinal)
export(scale.to.ordinal)
export(sem2)
export(sem.mod)
export(modIndices.modified)
export(simple.linear.regression)
export(makeSemModel)
export(stack.data)
export(group.center)
export(grand.center)
export(lme2)
export(stepwise.regression)
export(mlr)
export(mahdist)
export(number.rows)
export(Factor.Analysis)
export(fa.cd)
export(fa.parallel1)
export(scree1)
export(fa.parallel.mod)
export(VSS.mod)
export(fa.mod)
export(efa)
export(pcor.modified)
export(partcor)
export(plsc)
export(plcc)
export(hetcor.mod)
export(allcc)
export(chi.square.gof)
export(mardia)
export(mancova.ssp)
export(mi.ssp)
export(mi.data.frame)
export(completeness)
export(ssp.levels2)

import(car)
import(foreign)
import(Hmisc)
import(stats)
import(fmsb)
import(psych)
import(nlme)
import(multcomp)
import(mvtnorm)
import(pgirmess)
import(dplyr)
import(psy)
import(heplots)
import(effects)
import(ordinal)
import(reshape)
import(sem)
import(MVN)
import(stringr)
import(semPlot)
import(plyr)
import(MASS)
import(reshape2)
import(nnet)
import(ggplot2)
import(parallel)
import(GPArotation)
import(lattice)
import(corrplot)
import(polycor)
import(lattice)
import(lsmeans)
import(data.table)
import(mice)
#import(VIM)
